<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Profile</title>
</head>
<body>
    <h1>Edit Profile</h1>
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{ professor.username }}" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="{{ professor.password }}" required>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>